@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FIFA WORLD CUP RUSSIA 2018</h1>
    <p class="lead">Esta aplicación almacena los partidos de la fase de grupos del torneo</p>
    <p> *Utiliza un árbol AVL para su funcionamiento</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Almacenar los partidos por criterio de fecha</h2>
        <p>
            Permite almacenar los partidos utilizando como criterio de almacenamiento, la fecha en la que se realice el encuentro.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir a","CreateFecha","Partido") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Almacenar los partidos por criterio de número de partido</h2>
        <p>Permite almacenar los partidos utilizando como criterio de almacenamiento, el número de partido</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir a","CreateNPartido","Partido")</a></p>
    </div>
   
</div>